In [1]:
#!pip install selenium

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get("https://www.shine.com/")

#from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains



designation = driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")

# Click on the element to focus it
designation.click()

# Use ActionChains to send keys including the space
ActionChains(driver).send_keys_to_element(designation, "Data Analyst ").perform()

In [6]:
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
driver.execute_script("arguments[0].value='Data Analyst';",designation)

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [8]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
exp_req=[]

In [10]:
#scrapping the job title from the given page

title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
#scrapping the job_location

loc_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in loc_tags:
    loc=i.text
    job_location.append(loc)
    

#scrapping company name
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    name=i.text
    company_name.append(name)

    


#scrapping experience required

experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text
    exp_req.append(exp)

In [ ]:
job_location

In [11]:
print(len(job_title),len(job_location),len(company_name),len(exp_req))

20 20 20 20

In [12]:
df=pd.DataFrame({"Title":job_title,"Location":job_location,"Company_name":company_name,"Experience_required":exp_req})
df.head(10)

,Title,Location,Company_name,Experience_required
0,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
1,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
2,Hiring For Data Analyst,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
3,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
4,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
5,Vacancy For Data Analyst,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
6,Technical Data Architect,Bangalore,uprighthc solutions private limited,10 to 20 Yrs
7,Data Science Architect,Bangalore\n+4,symphoni hr pvt. ltd.,8 to 10 Yrs
8,Data Engineer,Bangalore,spm hr solutions,4 to 6 Yrs
9,Clinical Data Associate,Bangalore\n+6,techno endura,0 to 1 Yr

Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:
 1. First get the webpage https://www.naukri.com/ 
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field. 
3. Then click the searchbutton.
 4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data. Note: All of the above steps have to be done in code. No step is to be done manually.

In [13]:
import pandas as pd 
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")

In [14]:
driver=webdriver.Chrome()

In [15]:
driver.get("https://www.naukri.com/")

In [16]:
designation1=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
designation1.send_keys('Data Analyst')

In [17]:
location1=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location1.send_keys('Bangalore')

In [18]:
search1=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search1.click()

In [19]:
role_title=[]
role_location=[]
org_name=[]
req_exp=[]

In [32]:
role_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in role_tags:
    role=i.text
    role_title.append(role)
    

region_tags=driver.find_elements(By.CLASS_NAME,"locWdth")
for i in region_tags:
    region=i.text
    role_location.append(region)
    
import re
area=[]
for i in role_location:
    find=re.findall(r'\bBangalore|Bengaluru\b',i)
    area.append(find)
    
        
org_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in org_tags:
    org=i.text
    org_name.append(org)
    
req_exp_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in req_exp_tags:
    exp=i.text
    req_exp.append(exp)
    
req_exp

['2-4 Yrs',
 '1-4 Yrs',
 '1-4 Yrs',
 '5-6 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '1-5 Yrs',
 '6-10 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '0-3 Yrs',
 '8-12 Yrs',
 '0-5 Yrs',
 '4-8 Yrs',
 '5-8 Yrs',
 '6-10 Yrs',
 '4-9 Yrs',
 '4-6 Yrs',
 '3-5 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '1-4 Yrs',
 '1-4 Yrs',
 '5-6 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '1-5 Yrs',
 '6-10 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '0-3 Yrs',
 '8-12 Yrs',
 '0-5 Yrs',
 '4-8 Yrs',
 '5-8 Yrs',
 '6-10 Yrs',
 '4-9 Yrs',
 '4-6 Yrs',
 '3-5 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '1-4 Yrs',
 '1-4 Yrs',
 '5-6 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '1-5 Yrs',
 '6-10 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '0-3 Yrs',
 '8-12 Yrs',
 '0-5 Yrs',
 '4-8 Yrs',
 '5-8 Yrs',
 '6-10 Yrs',
 '4-9 Yrs',
 '4-6 Yrs',
 '3-5 Yrs',
 '2-4 Yrs']

In [33]:
print(len(role_title),len(area),len(org_name),len(req_exp))

60 60 60 60

In [37]:
role_location

['Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Mumbai, Bengaluru',
 'Bangalore/Bengaluru(Domlur)',
 'Remote',
 'Hybrid - Bangalore Rural, Karnataka, Hyderabad, Telangana, Chennai, Tamil Nadu',
 'Bengaluru(4th Phase JP Nagar)',
 'Bangalore Rural, Karnataka, Hyderabad, Telangana, India',
 'Hybrid - Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Hybrid - Bengaluru',
 'Hyderabad, Bengaluru, Delhi / NCR',
 'Bengaluru',
 'Bangalore Rural, Karnataka, Hyderabad, Telangana',
 'Hyderabad, Bengaluru',
 'Hyderabad, Bengaluru, Delhi / NCR',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Mumbai, Bengaluru',
 'Bangalore/Bengaluru(Domlur)',
 'Remote',
 'Hybrid - Bangalore Rural, Karnataka, Hyderabad, Telangana, Chennai, Tamil Nadu',
 'Bengaluru(4th Phase JP Nagar)',
 'Bangalore Rural, Karnataka, Hyderabad, Telangana, India',
 'Hybrid - Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Hybrid - Bengaluru',
 'Hyderabad, Bengaluru, Delhi / NCR',
 'Bengaluru',
 'Bangalore Rural, Karnataka, Hyderabad, Telangana',
 'Hyderabad, Bengaluru',
 'Hyderabad, Bengaluru, Delhi / NCR',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Mumbai, Bengaluru',
 'Bangalore/Bengaluru(Domlur)',
 'Remote',
 'Hybrid - Bangalore Rural, Karnataka, Hyderabad, Telangana, Chennai, Tamil Nadu',
 'Bengaluru(4th Phase JP Nagar)',
 'Bangalore Rural, Karnataka, Hyderabad, Telangana, India',
 'Hybrid - Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Hybrid - Bengaluru',
 'Hyderabad, Bengaluru, Delhi / NCR',
 'Bengaluru',
 'Bangalore Rural, Karnataka, Hyderabad, Telangana',
 'Hyderabad, Bengaluru',
 'Hyderabad, Bengaluru, Delhi / NCR',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [36]:
df1=pd.DataFrame({"job_title":role_title,"job_location":area,"company_name":org_name,"req_exp":req_exp})
df1.head(10)

,job_title,job_location,company_name,req_exp
0,Data Analyst,[Bengaluru],Target,2-4 Yrs
1,Online Data Analyst,[Bengaluru],TELUS International,1-4 Yrs
2,Data Analyst,[Bengaluru],FedEx TSCS (India) Pvt Ltd,1-4 Yrs
3,Data Analyst (automotive),"[Bangalore, Bengaluru]",Fenyes Engineered Technology Pvt Ltd,5-6 Yrs
4,Data Analyst,[],Puresoftware,5-10 Yrs
5,Data Analyst,[Bangalore],Tsit Digital Technologies,5-10 Yrs
6,Data Analyst,[Bengaluru],Objectwin Technology,1-5 Yrs
7,Job opportunity _ Data Analyst,[Bangalore],Talent Sketchers,6-10 Yrs
8,Data Analyst,[Bengaluru],Team ware solutions,5-10 Yrs
9,ETL - Data Analyst,[Bengaluru],2coms,5-10 Yrs

Price The attributes which you have to scrape is ticked marked in the below image. 
To scrape the data you have to go through following steps: 1. Go to Flipkart webpage by url : https://www.flipkart.com/ 
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and click the search icon 
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual. 
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it. 
5. Now scrape data from this page as usual 6. Repeat this until you get data for 100sunglasses

In [58]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [38]:
driver2=webdriver.Chrome()

In [40]:
driver2.get("https://www.flipkart.com/")

In [47]:
product=driver2.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys("sunglasses")

In [50]:
search2=driver2.find_element(By.CLASS_NAME,"L0Z3Pu")
search2.click()

In [51]:
brand=[]
product_desc=[]
price=[]

In [55]:
brand_tags=driver2.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    item=i.text
    brand.append(item)
    
product_tags=driver2.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
for i in product_tags:
    desc=i.text
    product_desc.append(desc)
    
price_tags=driver2.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    cost=i.text
    price.append(cost)

In [56]:
print(len(brand),len(product_desc),len(price))

80 79 80

In [57]:
product_desc

['UV Protection Rectangular Sunglasses (46)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection, Mirrored Wayfarer Sunglasses (52)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (50)',
 'Polarized, UV Protection Rectangular Sunglasses (65)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Wayfarer Sunglasses (51)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (54)',
 'Polarized, UV Protection Rectangular Sunglasses (65)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'Gradient Sports Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (54)',
 'Polarized, UV Protection Round Sunglasses (48)',
 'UV Protection Rectangular Sunglasses (49)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Wayfarer Sunglasses (45)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Retro Square Sunglasses (54)',
 'Polarized, UV Protection Retro Square Sunglasses (54)',
 'UV Protection Shield Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (45)',
 'Polarized, UV Protection Rectangular Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart UV Protection Wayfarer Sunglasses (59)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (60)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'Polarized Butterfly Sunglasses (64)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Rectangular Sunglasses (46)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Mirrored Wayfarer Sunglasses (52)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (50)',
 'Polarized, UV Protection Rectangular Sunglasses (65)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Wayfarer Sunglasses (51)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (54)',
 'Polarized, UV Protection Rectangular Sunglasses (65)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'Gradient Sports Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (54)',
 'Polarized, UV Protection Round Sunglasses (48)',
 'UV Protection Rectangular Sunglasses (49)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Wayfarer Sunglasses (45)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Retro Square Sunglasses (54)',
 'Polarized, UV Protection Retro Square Sunglasses (54)',
 'UV Protection Shield Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (45)',
 'Polarized, UV Protection Rectangular Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart UV Protection Wayfarer Sunglasses (59)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (60)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'Polarized Butterfly Sunglasses (64)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)']

In [59]:
product_title=[]

start=0
end=3


for page in range(start,end):
    titles=driver2.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in titles:
        product_title.append(i.text)
    next_button=driver2.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [60]:
product_title

['Hooper',
 'Eyenaks',
 'Fastrack',
 'SRPM',
 'Elligator',
 'Fastrack',
 'Aarna Fashion',
 'Eyewearlabs',
 'Fastrack',
 'Elligator',
 'Eyewearlabs',
 'ROYAL SON',
 'ROADWAY',
 'Aarna Fashion',
 'Elligator',
 'Elligator',
 'Eyewearlabs',
 'ROYAL SON',
 'Aarna Fashion',
 'Rich Club',
 'Eyewearlabs',
 'Hooper',
 'Elligator',
 'Hooper',
 'Fastrack',
 'Fastrack',
 'Eyewearlabs',
 'Eyewearlabs',
 "Clark N' Palmer",
 'VINCENT CHASE',
 'Hooper',
 'Eyewearlabs',
 'PIRASO',
 'VINCENT CHASE',
 'peter india',
 'PIRASO',
 'ROYAL SON',
 'Nicole Miller',
 'ROADWAY',
 'PIRASO',
 'Eyenaks',
 'Eyewearlabs',
 'PIRASO',
 'SRPM',
 'VINCENT CHASE',
 'Elligator',
 'Eyewearlabs',
 'Hooper',
 'PIRASO',
 'Fastrack',
 'Eyewearlabs',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'RBGIIT',
 'Eyewearlabs',
 'Eyewearlabs',
 'ROADWAY',
 'Elligator',
 'Hooper',
 'Eyewearlabs',
 'PIRASO',
 'VINCENT CHASE',
 'Rich Club',
 'PROVOGUE',
 'Nicole Miller',
 'Hooper',
 'Elligator',
 'PIRASO',
 'Eyewearlabs',
 'Hooper',
 'VINCENT CHASE',
 'PIRASO',
 'ROZZETTA CRAFT',
 'hipe',
 'ROYAL SON',
 'ROYAL SON',
 'DEIXELS',
 'VINCENT CHASE',
 'Nicole Miller',
 'AISLIN',
 'SYGA',
 'john jacobs',
 'AISLIN',
 'NuVew',
 'Nicole Miller',
 'AISLIN',
 'ROYAL SON',
 'NuVew',
 'ROYAL SON',
 'Hooper',
 'Mast & Harbour',
 'AISLIN',
 'BABYMOON',
 'AISLIN',
 'Nicole Miller',
 'ROYAL SON',
 'ROYAL SON',
 'hayden haiza',
 'Ann Taylor',
 'ROYAL SON',
 'HRX by Hrithik Roshan',
 'john jacobs',
 'OAKLEY',
 'Ray-Ban',
 'AISLIN',
 'AISLIN',
 'HRX by Hrithik Roshan',
 'Elligator',
 'AISLIN',
 'ROYAL SON',
 'VINCENT CHASE',
 'Ray-Ban',
 'AISLIN',
 'IRUS',
 'ROYAL SON',
 'ROYAL SON',
 'Fastrack',
 'NuVew']

In [69]:
print(len(cost))

120

In [64]:
item_description=[]

start=0
end=3

for page in range(start,end):
    description=driver2.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
    for i in description:
        item_description.append(i.text)
    next_button=driver2.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()

In [65]:
item_description

['UV Protection Wayfarer Sunglasses (59)',
 'UV Protection, Gradient Rectangular Sunglasses (65)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Round Sunglasses (54)',
 'Polarized Clubmaster Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Sports Sunglasses (62)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Retro Square Sunglasses (58)',
 'Polarized, UV Protection Round Sunglasses (52)',
 'Polarized, UV Protection Rectangular, Wayfarer Sunglass...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Gradient Butterfly Sunglasses (60)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (65)',
 'Polarized Butterfly Sunglasses (64)',
 'UV Protection Round Sunglasses (48)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (48)',
 'UV Protection Retro Square, Wayfarer Sunglasses (56)',
 'UV Protection Aviator Sunglasses (60)',
 'Polarized, UV Protection Retro Square Sunglasses (51)',
 'by Lenskart UV Protection, Polarized Aviator Sunglasses...',
 'UV Protection, Polarized Retro Square Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (53)',
 'Polarized Aviator Sunglasses (55)',
 'Polarized, UV Protection Rectangular Sunglasses (53)',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (59)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (57)',
 'by Lenskart UV Protection Aviator Sunglasses (55)',
 'Gradient Retro Square Sunglasses (59)',
 'Mirrored Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator, Rectangular Sunglasses...',
 'UV Protection, Gradient Wayfarer, Retro Square Sunglass...',
 'UV Protection, Polarized Wayfarer Sunglasses (53)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection, Gradient Rectangular Sunglasses (65)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Round Sunglasses (54)',
 'Polarized Clubmaster Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Sports Sunglasses (62)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Retro Square Sunglasses (58)',
 'Polarized, UV Protection Round Sunglasses (52)',
 'Polarized, UV Protection Rectangular, Wayfarer Sunglass...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Gradient Butterfly Sunglasses (60)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (65)',
 'Polarized Butterfly Sunglasses (64)',
 'UV Protection Round Sunglasses (48)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (48)',
 'UV Protection Retro Square, Wayfarer Sunglasses (56)',
 'UV Protection Aviator Sunglasses (60)',
 'Polarized, UV Protection Retro Square Sunglasses (51)',
 'by Lenskart UV Protection, Polarized Aviator Sunglasses...',
 'UV Protection, Polarized Retro Square Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (53)',
 'Polarized Aviator Sunglasses (55)',
 'Polarized, UV Protection Rectangular Sunglasses (53)',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (59)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (57)',
 'by Lenskart UV Protection Aviator Sunglasses (55)',
 'Gradient Retro Square Sunglasses (59)',
 'Mirrored Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator, Rectangular Sunglasses...',
 'UV Protection, Gradient Wayfarer, Retro Square Sunglass...',
 'UV Protection, Polarized Wayfarer Sunglasses (53)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection, Gradient Rectangular Sunglasses (65)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Round Sunglasses (54)',
 'Polarized Clubmaster Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Sports Sunglasses (62)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Retro Square Sunglasses (58)',
 'Polarized, UV Protection Round Sunglasses (52)',
 'Polarized, UV Protection Rectangular, Wayfarer Sunglass...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Gradient Butterfly Sunglasses (60)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (65)',
 'Polarized Butterfly Sunglasses (64)',
 'UV Protection Round Sunglasses (48)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (48)',
 'UV Protection Retro Square, Wayfarer Sunglasses (56)',
 'UV Protection Aviator Sunglasses (60)',
 'Polarized, UV Protection Retro Square Sunglasses (51)',
 'by Lenskart UV Protection, Polarized Aviator Sunglasses...',
 'UV Protection, Polarized Retro Square Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (53)',
 'Polarized Aviator Sunglasses (55)',
 'Polarized, UV Protection Rectangular Sunglasses (53)',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (59)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (57)',
 'by Lenskart UV Protection Aviator Sunglasses (55)',
 'Gradient Retro Square Sunglasses (59)',
 'Mirrored Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator, Rectangular Sunglasses...',
 'UV Protection, Gradient Wayfarer, Retro Square Sunglass...',
 'UV Protection, Polarized Wayfarer Sunglasses (53)',
 'Mirrored Aviator Sunglasses (58)']

In [67]:
cost=[]

start=0
end=3

for page in range(start,end):
    costs=driver2.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in costs:
        cost.append(i.text)
    next_button=driver2.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()

In [68]:
cost

['₹715',
 '₹560',
 '₹565',
 '₹791',
 '₹1,413',
 '₹854',
 '₹449',
 '₹315',
 '₹974',
 '₹199',
 '₹580',
 '₹580',
 '₹806',
 '₹438',
 '₹674',
 '₹449',
 '₹2,499',
 '₹2,499',
 '₹759',
 '₹328',
 '₹715',
 '₹715',
 '₹1,189',
 '₹730',
 '₹2,924',
 '₹299',
 '₹580',
 '₹899',
 '₹2,499',
 '₹2,200',
 '₹418',
 '₹499',
 '₹528',
 '₹499',
 '₹5,029',
 '₹399',
 '₹399',
 '₹580',
 '₹2,924',
 '₹359',
 '₹715',
 '₹560',
 '₹565',
 '₹791',
 '₹1,413',
 '₹854',
 '₹449',
 '₹315',
 '₹974',
 '₹199',
 '₹580',
 '₹580',
 '₹806',
 '₹438',
 '₹674',
 '₹449',
 '₹2,499',
 '₹2,499',
 '₹759',
 '₹328',
 '₹715',
 '₹715',
 '₹1,189',
 '₹730',
 '₹2,924',
 '₹299',
 '₹580',
 '₹899',
 '₹2,499',
 '₹2,200',
 '₹418',
 '₹499',
 '₹528',
 '₹499',
 '₹5,029',
 '₹399',
 '₹399',
 '₹580',
 '₹2,924',
 '₹359',
 '₹715',
 '₹560',
 '₹565',
 '₹791',
 '₹1,413',
 '₹854',
 '₹449',
 '₹315',
 '₹974',
 '₹199',
 '₹580',
 '₹580',
 '₹806',
 '₹438',
 '₹674',
 '₹449',
 '₹2,499',
 '₹2,499',
 '₹759',
 '₹328',
 '₹715',
 '₹715',
 '₹1,189',
 '₹730',
 '₹2,924',
 '₹299',
 '₹580',
 '₹899',
 '₹2,499',
 '₹2,200',
 '₹418',
 '₹499',
 '₹528',
 '₹499',
 '₹5,029',
 '₹399',
 '₹399',
 '₹580',
 '₹2,924',
 '₹359']

In [70]:
df2=pd.DataFrame({"Brand":product_title,"Product_description":item_description,"Price":cost})
df2

         Brand                                Product_description   Price
0       Hooper             UV Protection Wayfarer Sunglasses (59)    ₹715
1      Eyenaks  UV Protection, Gradient Rectangular Sunglasses...    ₹560
2     Fastrack  UV Protection, Gradient Butterfly, Retro Squar...    ₹565
3         SRPM  by Lenskart Polarized, UV Protection Rectangul...    ₹791
4    Elligator                UV Protection Round Sunglasses (54)  ₹1,413
..         ...                                                ...     ...
115       IRUS              Mirrored Round Sunglasses (Free Size)    ₹399
116  ROYAL SON  UV Protection, Mirrored Aviator, Rectangular S...    ₹399
117  ROYAL SON  UV Protection, Gradient Wayfarer, Retro Square...    ₹580
118   Fastrack  UV Protection, Polarized Wayfarer Sunglasses (53)  ₹2,924
119      NuVew                   Mirrored Aviator Sunglasses (58)    ₹359

[120 rows x 3 columns]