All the questons must be done in a single Jupyternotebook. 
2. There should be proper comments in code.
Q1: In this queston you have to scrape data using the flters available on the webpage You have to use the locaton and 
salary flter. 
You have to scrape data for  “Data Scientst” d esignaton for frst 10 job results. 
You have to scrape the job-ttle, job-locaton, company name, experience required. 
The locaton flter to be used is  “Delhi/NCR”. T he salary flter to be used is “ 3-6” l akhs 
The task will be done as shown in the below steps: 
1. frst get the web page  htps://www.naukri.com/
2. Enter “ Data Scientst” i n “ Skill, Designatons, and Companies” f eld. 
3. Then click the search buton. 
4. Then apply the locaton flter and salary flter by checking the respectve boxes 
5. Then scrape the data for the frst 10 jobs results you get. 
6. Finally create a dataframe of the scraped data.

In [9]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [10]:
#initialize the webdriver
driver1=webdriver.Chrome()
driver1.get("https://www.naukri.com/")


role=driver1.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
role.send_keys("Data Scientist")


role_search=driver1.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[6]')
role_search.click()

In [15]:
location_filter = driver1.find_element(By.XPATH, '/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[6]/div[2]/div[3]/label/p/span[1]')
location_filter.click()

In [14]:
salary_filter=driver1.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[3]/div[2]/div[2]/label/p/span[1]')
salary_filter.click()

In [16]:
job_title=[]
job_location=[]
company_name=[]
exp_req=[]

In [17]:
title_tags=driver1.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div[1]')

for i in title_tags:
    job_title.append(i.text)
    

loc_tags=driver1.find_elements(By.XPATH,'//span[@class="locWdth"]')

for i in loc_tags:
    job_location.append(i.text)
    

company_tags=driver1.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')

for i in company_tags:
    company_name.append(i.text)
    
    
exp_tags=driver1.find_elements(By.XPATH,'//span[@class="expwdth"]')

for i in exp_tags:
    exp_req.append(i.text)

In [18]:
print(len(job_title),len(job_location),len(company_name),len(exp_req))

20 20 20 20

In [19]:
df1=pd.DataFrame({"Job_title":job_title,"Job_location":job_location,"Company_name":company_name,"Experience_req":exp_req})

In [20]:
df1

,Job_title,Job_location,Company_name,Experience_req
0,Data Scientist HTHD,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,1-4 Yrs
1,Data Scientist,"Mumbai, Hyderabad, Gurugram",Deloitte,3-6 Yrs
2,Data Scientist,"Gurugram, Bengaluru",Blackbuck,3-7 Yrs
3,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Elitefit.ai,3-7 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Fort Technologies,1-3 Yrs
5,Lead Customer Success - Data Scientist,"Pune, Gurugram",ZS Associates,2-4 Yrs
6,JOB Opening // Data science // Neosoft Mumbai ...,"Noida, Mumbai, Pune",NeoSOFT,4-7 Yrs
7,Data Scientist,Noida,Innovaccer,2-7 Yrs
8,Data Scientist,Noida,Times Internet,3-8 Yrs
9,Python and ML Trainer,"Hyderabad, New Delhi, Pune, Gurugram, Bengaluru",The Scholar,3-8 Yrs
10,Data Scientist,"Gurugram, Bengaluru",Acenet,3-4 Yrs
11,Data Scientist,"Varanasi, Kannur, Mumbai, New Delhi",Searchurcollege,1-3 Yrs
12,Data Scientist,New Delhi,Insider Biz,2-4 Yrs
13,Data Scientist,Gurugram,Gartner,3-6 Yrs
14,Data Scientist,"Kolkata, Pune, Gurugram",Gforce Consulting Solutions,3-8 Yrs
15,Data Scientist,"Ghaziabad, Uttar Pradesh(Vaishali)",Kreate Energy,2-4 Yrs
16,Data Scientists,New Delhi,Dignitas Digital Pvt. Ltd,2-5 Yrs
17,Research Scientist - Bioinformatics,Gurugram,Biopeople India,0-2 Yrs
18,Analyst-Data Science,Gurugram,Resy,0-3 Yrs
19,Data Scientist - Data and Analytics (DNA),Gurugram,Marsh McLennan,0-5 Yrs

#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the 
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [ ]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
driver1=webdriver.Chrome()

In [ ]:
driver1.get("https://www.shine.com/")

In [ ]:
role=driver1.find_element(By.CLASS_NAME,"form-control  ")
driver1.execute_script("arguments[0].value='Data Analyst';",role)

In [ ]:
area=driver1.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
area.send_keys("Bangalore")

In [ ]:
search1=driver1.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search1.click()

In [ ]:
job_title=[]
job_location=[]
company_name=[]
exp_req=[]

In [ ]:
title_tags=driver1.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
    
location_tags=driver1.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    loc=i.text
    job_location.append(loc)
    
company_tags=driver1.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags:
    comp=i.text
    company_name.append(comp)

In [ ]:
experience_tags=driver1.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    term=i.text
    exp_req.append(term)

In [ ]:
print(len(job_title),len(job_location),len(company_name),len(exp_req))

In [ ]:
shine_job_df=pd.DataFrame({'Job-title':job_title,'Job-location':job_location,'Company-name':company_name,'Experience-required':exp_req})

shine_job_df

Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-15-black-128-gb/p/itm6ac6485515ae4?pid=MOBGTAGPTB3VS24W&lid=LSTMOBGTAGPTB3VS24WVZNSC6&marketplace=FLIPKART&q=iphone+15&store=tyy/4io&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&fm=organic&iid=b596c120-8114-44e8-9819-0b4dee130fa9.MOBGTAGPTB3VS24W.SEARCH&ppt=hp&ppn=homepage&ssid=s3c8i7dsvk0000001710403029549&qH=2f54b45b321e3ae5

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the stepsrequired during scraping should be done through code only and not manually.

In [13]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, WebDriverException
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
driver3=webdriver.Chrome()
driver3.get("https://www.flipkart.com/apple-iphone-15-black-128-gb/p/itm6ac6485515ae4?pid=MOBGTAGPTB3VS24W&lid=LSTMOBGTAGPTB3VS24WVZNSC6&marketplace=FLIPKART&q=iphone+15&store=tyy/4io&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&fm=organic&iid=b596c120-8114-44e8-9819-0b4dee130fa9.MOBGTAGPTB3VS24W.SEARCH&ppt=hp&ppn=homepage&ssid=s3c8i7dsvk0000001710403029549&qH=2f54b45b321e3ae5")

In [ ]:
all_review=driver3.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div/span')
all_review.click()

In [ ]:
review_summary=[]

start=0
end=10

for page in range(start,end):
    try:
        summary_tags=driver3.find_elements(By.XPATH,'//div[@class="col _2wzgFH K0kLPL"]/div/p')
        for i in summary_tags:
            review_summary.append(i.text)
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)
    try:
        next_page=driver3.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
        next_page.click()
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)

In [ ]:
ratings=[]

start=0
end=10

for page in range(start,end):
    try:
        rating_tags=driver3.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
        for i in rating_tags:
            ratings.append(i.text)
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)
    try:
        next_page=driver3.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
        next_page.click()
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)

In [ ]:
full_review=[]

start=0
end=10

for page in range(start,end):
    try:
        full_tags=driver3.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div')
        for i in full_tags:
            full_review.append(i.text)
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)
    try:
        next_page=driver3.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
        next_page.click()
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)

In [ ]:
print(len(review_summary),len(full_review),len(ratings))

In [ ]:
df3=pd.DataFrame({"Ratings":ratings,"Review_summary":review_summary,"Full_review":full_review})
df3

Q4: Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for “sneakers” inthe search
field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [30]:
import selenium 
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [31]:
driver4=webdriver.Chrome()
driver4.get(" https://www.flipkart.com/")

product=driver4.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
product.send_keys('sneakers')

search=driver4.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [41]:
from selenium.common.exceptions import NoSuchElementException, WebDriverException

brand=[]

start=0
end=3

for page in range(start,end):
    try:
        companies=driver4.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
        for company in companies:
            brand.append(company.text)
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)
    try:
        next_button1=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
        next_button1.click()
        time.sleep(3)
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)

WebDriverException Message: disconnected: not connected to DevTools
  (failed to check if window was closed: disconnected: not connected to DevTools)
  (Session info: chrome=122.0.6261.112)
Stacktrace:
	GetHandleVerifier [0x00007FF69E9DAD32+56930]
	(No symbol) [0x00007FF69E94F632]
	(No symbol) [0x00007FF69E8042E5]
	(No symbol) [0x00007FF69E7F191F]
	(No symbol) [0x00007FF69E7F1490]
	(No symbol) [0x00007FF69E806411]
	(No symbol) [0x00007FF69E8878B9]
	(No symbol) [0x00007FF69E86BA43]
	(No symbol) [0x00007FF69E83D438]
	(No symbol) [0x00007FF69E83E4D1]
	GetHandleVerifier [0x00007FF69ED56ABD+3709933]
	GetHandleVerifier [0x00007FF69EDAFFFD+4075821]
	GetHandleVerifier [0x00007FF69EDA818F+4043455]
	GetHandleVerifier [0x00007FF69EA79766+706710]
	(No symbol) [0x00007FF69E95B90F]
	(No symbol) [0x00007FF69E956AF4]
	(No symbol) [0x00007FF69E956C4C]
	(No symbol) [0x00007FF69E946904]
	BaseThreadInitThunk [0x00007FFD9A9A7344+20]
	RtlUserThreadStart [0x00007FFD9AB826B1+33]

WebDriverException Message: disconnected: not connected to DevTools
  (failed to check if window was closed: disconnected: not connected to DevTools)
  (Session info: chrome=122.0.6261.112)
Stacktrace:
	GetHandleVerifier [0x00007FF69E9DAD32+56930]
	(No symbol) [0x00007FF69E94F632]
	(No symbol) [0x00007FF69E8042E5]
	(No symbol) [0x00007FF69E7F191F]
	(No symbol) [0x00007FF69E7F1490]
	(No symbol) [0x00007FF69E806411]
	(No symbol) [0x00007FF69E8878B9]
	(No symbol) [0x00007FF69E86BA43]
	(No symbol) [0x00007FF69E83D438]
	(No symbol) [0x00007FF69E83E4D1]
	GetHandleVerifier [0x00007FF69ED56ABD+3709933]
	GetHandleVerifier [0x00007FF69EDAFFFD+4075821]
	GetHandleVerifier [0x00007FF69EDA818F+4043455]
	GetHandleVerifier [0x00007FF69EA79766+706710]
	(No symbol) [0x00007FF69E95B90F]
	(No symbol) [0x00007FF69E956AF4]
	(No symbol) [0x00007FF69E956C4C]
	(No symbol) [0x00007FF69E946904]
	BaseThreadInitThunk [0x00007FFD9A9A7344+20]
	RtlUserThreadStart [0x00007FFD9AB826B1+33]

WebDriverException Message: disconnected: not connected to DevTools
  (failed to check if window was closed: disconnected: not connected to DevTools)
  (Session info: chrome=122.0.6261.112)
Stacktrace:
	GetHandleVerifier [0x00007FF69E9DAD32+56930]
	(No symbol) [0x00007FF69E94F632]
	(No symbol) [0x00007FF69E8042E5]
	(No symbol) [0x00007FF69E7F191F]
	(No symbol) [0x00007FF69E7F1490]
	(No symbol) [0x00007FF69E806411]
	(No symbol) [0x00007FF69E8878B9]
	(No symbol) [0x00007FF69E86BA43]
	(No symbol) [0x00007FF69E83D438]
	(No symbol) [0x00007FF69E83E4D1]
	GetHandleVerifier [0x00007FF69ED56ABD+3709933]
	GetHandleVerifier [0x00007FF69EDAFFFD+4075821]
	GetHandleVerifier [0x00007FF69EDA818F+4043455]
	GetHandleVerifier [0x00007FF69EA79766+706710]
	(No symbol) [0x00007FF69E95B90F]
	(No symbol) [0x00007FF69E956AF4]
	(No symbol) [0x00007FF69E956C4C]
	(No symbol) [0x00007FF69E946904]
	BaseThreadInitThunk [0x00007FFD9A9A7344+20]
	RtlUserThreadStart [0x00007FFD9AB826B1+33]

In [54]:
from selenium.common.exceptions import NoSuchElementException, WebDriverException

product_description=[]

start=0
end=3

for page in range(start,end):
    try:
        products=driver4.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
        for product in products:
            product_description.append(product.text)
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverExcepton",e)
    try:
        next_button2=driver4.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
        next_button2.click()
        time.sleep(3)
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)

In [63]:
from selenium.common.exceptions import NoSuchElementException, WebDriverException


price=[]

start =0
end =3

for page in range(start,end):
    try:
        prices=driver4.find_elements(By.XPATH,'//a[@class="_3bPFwb"]/div/div[1]')
        for cost in prices:
            price.append(cost.text)
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)
    try:
        next_button=driver4.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
        next_button.click()
        time.sleep(3)
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)

In [55]:
product_description

['2 Combo Sneaker Shoes Sneakers For Men',
 'Combo pack of 2 Trendy Sneaker Shoes Walking Shoes Snea...',
 'Trending Stylish Casual Outdoor Shoes For Men Sneakers ...',
 'Sneakers For Women',
 'Casual Sneakers Shoes for Men | Soft Cushioned Insole, ...',
 'Fire Run V1 Sneakers For Men',
 'Trendy | Sport |Fashion Sneaker | Gym | Running Shoe Sn...',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Ultralightweight Premium Comfort Trendy Outdoor shoes f...',
 'Premium Casual Shoes for Women Sneakers For Women',
 'casual Sneakers For Men',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Casual & Trendy Sneakers For Men',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Combo Pack Of 2 Casual Shoes for mens Sneakers For Men',
 'Combo pack of 2 shoes for men Sneakers For Men',
 'Sneakers For Men',
 '2 Combo Shoes Sneakers For Men',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...',
 'Premium Men Casual Shoes For Men Pack Of 2 Sneakers For...',
 'Casual Sneakers Shoes for Men | Soft Cushioned Insole, ...',
 'Sneakers For Men',
 '!Combo Pack Of 2 Casual Shoes! Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Casual Sneakers ColourFul Block Shoes For Boys And Men ...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Boston-01 Chunky Sneakers,Loafers,Walking Shoes Sneaker...',
 'Tarzan-05 White Sneakers,Casuals,Loafers,Stylish With E...',
 'Seattle Sneakers For Men',
 'Premium Casual Shoes for Women Sneakers For Women',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Canvas shoes for Men Sneakers For Men',
 'Carnival-02 Mens High Top Casual Chunky Sneakers For Me...',
 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, S...',
 'Sneakers For Men',
 'Stylish Sneakers Shoes for Women And Girls Sneakers For...',
 'Sneakers For Men',
 'Shuffle Ultra Sneakers For Men',
 'PANAL Sneakers For Men',
 'Premium Sports Shoes For Men Pack Of 2 Sneakers For Men',
 'Casual Stylish Trending Sneakers For Women',
 'Rebound Future NextGen Sneakers For Men',
 'Seattle Sneakers For Men',
 'HIGH HEEL SHOES Sneakers For Women',
 'Seattle Sneakers For Men',
 'Thunder-01 White Canvas, Sneakers For Men',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole || B...',
 'Casual Sneakers White Shoes For Girls And Sneakers For ...',
 'Ferrari Electron E Pro Sneakers For Men',
 'Stylish Casual Sports Shoe Sneakers Sneakers For Women',
 'SM-671 Sneakers For Men',
 'Sneakers For Men',
 'Sports Shoes , Walking Shoes , Gym & Training Shoes And...',
 'Premium Casual Shoes for Women Sneakers For Women',
 'Sneakers For Men',
 'FAST Trendy Sneakers For Men',
 'Colourful Block Shoes For Boys Casual Sneakers For Men',
 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...',
 'OG-D4 Sneakers For Men',
 'Sneakers For Men',
 'Trendy & Stylish Sneakers For Men',
 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, S...',
 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, S...',
 'Carnival-02 Mens High Top Casual Chunky Sneakers Sneake...',
 'FORUM 84 LOW Sneakers For Men',
 'PANAL Sneakers For Men',
 'Caven Sneakers For Men',
 "Sneaker Shoes For Men's - Elevated Comfort, Perfect Cas...",
 'Seattle Sneakers For Men',
 'Casual Sneakers Colour Blocked Shoes For Boys And Men S...',
 'LEBRON 3.0 Sneakers For Men',
 'Sneakers For Women',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'TYLOR Sneakers For Men',
 'Sneakers For Men',
 'Lifestyle Sneaker Shoes for Men | Soft Cushioned Insole...',
 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...',
 'Capri Royale Sneakers For Men',
 'Alfarun Sneakers For Men',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Stylish Casual Sports Shoe Sneakers Sneakers For Women',
 'Flat Sole Sneakers Shoes for all Day wear with Memory C...',
 'FITZ 2.0 Sneakers For Men',
 'NEO MOTORSPORT Sneakers For Men',
 'ALFONSO Sneakers For Men',
 'Men 192 Sneakers For Men',
 "Newton-01 Men's Lightweight Running Shoes Sneakers For ...",
 'RHEECE Sneakers For Men',
 '550 Sneakers For Men',
 '574 Sneakers For Men',
 'Court Ultra Lite Sneakers For Men',
 'Lifestyle Sneaker Shoes for Men | Soft Cushioned Insole...',
 'Sneakers For Men',
 'CLARKIN Sneakers For Men',
 '439 Sneakers For Men',
 'Sneakers For Men',
 'Pacer Future Trail Sneakers For Men',
 'Sneakers For Men',
 'GEL-CITREK Sneakers For Men',
 'Combo Pack of 2 Casual Shoe Sneakers For Men',
 '( by GO21 ) Soft Insole, Slip-Resistance|Walking Casual...',
 'Sneakers For Men',
 'Casual Sneaker Shoes For Women | Stylish and Comfortabl...',
 'Stride FS Sneakers For Men',
 'R78 Sneakers For Men',
 'Rebound v6 Sneakers For Men',
 'ST Runner v3 L Sneakers For Men',
 'X-Ray 2 Square Sneakers For Men',
 'CAPRON 2.0 Sneakers For Men',
 'Sneakers For Women',
 'MOTORSPORTS LEGACY Sneakers For Men',
 'Neo Motorsport Sneakers For Men',
 'Lifestyle Sneaker Shoes for Women | Soft Cushioned Inso...']

In [67]:
df4=pd.DataFrame({"Brand":brand,"Product_description":product_description,"Price":price})
df4

         Brand                                Product_description   Price
0       BRUTON             2 Combo Sneaker Shoes Sneakers For Men    ₹346
1       BRUTON  Combo pack of 2 Trendy Sneaker Shoes Walking S...    ₹499
2     URBANBOX  Trending Stylish Casual Outdoor Shoes For Men ...    ₹299
3    Deals4you                                 Sneakers For Women    ₹439
4     RED TAPE  Casual Sneakers Shoes for Men | Soft Cushioned...  ₹1,179
..         ...                                                ...     ...
115      asian                        CAPRON 2.0 Sneakers For Men    ₹849
116     BRUTON                                 Sneakers For Women    ₹746
117    CCICACO                MOTORSPORTS LEGACY Sneakers For Men    ₹795
118      asian                    Neo Motorsport Sneakers For Men  ₹6,249
119      BIRDE  Lifestyle Sneaker Shoes for Women | Soft Cushi...  ₹3,044

[120 rows x 3 columns]

In [65]:
print(len(brand),len(product_description),len(price))

120 120 120

Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
Type filter to “Intel Core i7” as shown in the below image:
Aftersetting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [94]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, WebDriverException
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [95]:
driver5=webdriver.Chrome()
driver5.get("https://www.amazon.in/")

In [96]:
laptop=driver5.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
laptop.send_keys("Laptop")

In [97]:
search_icon=driver5.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_icon.click()

In [100]:
cpu_click=driver5.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[19]/span/span[11]/li/span/a/span')
cpu_click.click()

In [101]:
laptop_title=[]

title=driver5.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')

for titles in title:
    laptop_title.append(titles.text)

In [103]:
value=[]

field=driver5.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')

for fields in field:
    value.append(fields.text)

In [104]:
price=[]

prices=driver5.find_elements(By.XPATH,'//span[@class="a-price"]')

for cost in prices:
    price.append(cost.text)

In [107]:
price=price[:10]
value=value[:10]
laptop_title=laptop_title[:10]

In [108]:
df5=pd.DataFrame({"Laptop_title":laptop_title,"Ratings":value,"Price":price})

In [109]:
df5

                                        Laptop_title Ratings      Price
0  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...     459    ₹62,700
1  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...     450    ₹59,990
2  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...      88    ₹49,990
3  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...     227    ₹74,990
4  Acer Travelmate Business Laptop Intel Core i7-...       2    ₹49,990
5  Lenovo Yoga Slim7 Carbon Intel Evo i7 1260P 13...       4  ₹1,19,990
6  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...     450    ₹59,990
7  Dell G15 5530 Gaming Laptop, Intel i7-13650HX/...       1  ₹1,04,490
8  HP Pavilion X360 11th Gen Intel Core i7 14" (3...     146    ₹66,999
9  HP Victus Gaming Laptop, 12th Gen Intel Core i...     357    ₹79,490

Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuote
3. Than scrap a)Quote b) Author c) Type Of Quotes

In [112]:
import selenium 
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [113]:
driver6=webdriver.Chrome()
driver6.get("https://www.azquotes.com/")

In [115]:
top_quotes=driver6.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [116]:
from selenium.common.exceptions import NoSuchElementException, WebDriverException
phrase=[]

start=0
end=10

for page in range(start,end):
    try:
        phrases=driver6.find_elements(By.XPATH,'//a[@class="title"]')
        for i in phrases:
            phrase.append(i.text)
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)
    try:
        next_button=driver6.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]/a')
        next_button.click()
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)

In [119]:
author=[]

start=0
end=10

for page in range(start,end):
    try:
        authors=driver6.find_elements(By.XPATH,'//div[@class="author"]/a')
        for i in authors:
            author.append(i.text)
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)
    try:
        next_button=driver6.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]/a')
        next_button.click()
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)

In [126]:
quote_genre=[]


start=0
end=10

for page in range(start,end):
    try:
        genre=driver6.find_elements(By.XPATH,'//div[@class="tags"]')
        for i in genre:
            quote_genre.append(i.text)
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)
    try:
        next_button=driver6.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]/a')
        next_button.click()
    except NoSuchElementException as e:
        print("NoSuchElementException",e)
    except WebDriverException as e:
        print("WebDriverException",e)

In [127]:
print(len(quote_genre))

1000

In [128]:
df6=pd.DataFrame({"Quotes":phrase,"Authors":author,"Types_of_quotes":quote_genre})

In [129]:
df6

,Quotes,Authors,Types_of_quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Spring, April, Fragrance"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspirational, Faith, Spiritual"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Inspirational, Motivational, Positive"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Love, Inspirational, Life"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"Strength, Peace, Gun"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name,
Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1
scrap the mentioned data and make the DataFrame

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, WebDriverException
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
driver7=webdriver.Chrome()
driver7.get("https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1")

In [ ]:
table=[]

table_tags=driver7.find_elements(By.CSS_SELECTOR,'td')
for i in table_tags:
    table.append(i.text)

In [ ]:
table

In [ ]:
columns = ['S.no','Name', 'Born-Dead', 'Term of Office', 'Remarks']
df = pd.DataFrame([table[i:i+5] for i in range(0, len(table), 5)], columns=columns)

df

Q8: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/ This task will be done in following steps:

First get the webpage https://www.motor1.com/
Then You have to type in the search bar ’50 most expensive cars’
Then click on 50 most expensive carsin the world..
Then scrap thementioned data and make the dataframe

In [ ]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, WebDriverException
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
driver=webdriver.Chrome()
driver.get(" https://www.motor1.com/ ")


car=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input')
car.send_keys("50 most expensive cars")

car_search=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
car_search.click()

expensive_car=driver.find_element(By.XPATH,'/html/body/div[9]/div[10]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
expensive_car.click()

In [ ]:
car_name=[]


name=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')

for names in name:
    car_name.append(names.text)
    
    
    
price=[]

car_price=driver.find_elements(By.CSS_SELECTOR,'strong')

for cost in car_price:
    price.append(cost.text)

In [ ]:
car_name=car_name[:50]

In [ ]:
print(len(car_name),len(price))

In [ ]:
df_expensive_car=pd.DataFrame({"Car_name":car_name,"Price":price})

In [ ]:
df_expensive_car