#1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [2]:
driver=webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos ")

In [13]:
name=[]
artist=[]
upload_date=[]
views=[]

rank=list(range(1,31))
       
    
name_element=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in name_element:
    name.append(i.text)
    
artist_element=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in artist_element:
    artist.append(i.text)
    

date_element=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in date_element:
    upload_date.append(i.text)
    
view_element=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in view_element:
    views.append(i.text)
    
    
driver.close()

In [14]:
df_video=pd.DataFrame({"Rank":rank,"Video Name":name,"Uploader":artist,"Date":upload_date,"Views":views})

df_video

,Rank,Video Name,Uploader,Date,Views
0,1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.32
1,2,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.41
2,3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.89
3,4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.66
4,5,"""Shape of You""[20]",Ed Sheeran,"January 30, 2017",6.23
5,6,"""See You Again""[23]",Wiz Khalifa,"April 6, 2015",6.22
6,7,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.01
7,8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.75
8,9,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.18
9,10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.10
10,11,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.09
11,12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.59
12,13,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,"January 31, 2012",4.57
13,14,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.45
14,15,"""Sugar""[40]",Maroon 5,"January 14, 2015",4.02
15,16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.01
16,17,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",4.00
17,18,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.98
18,19,"""Roar""[44]",Katy Perry,"September 5, 2013",3.98
19,20,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.89
20,21,"""Sorry""[46]",Justin Bieber,"October 22, 2015",3.78
21,22,"""Shree Hanuman Chalisa""[47]",T-Series Bhakti Sagar,"May 10, 2011",3.77
22,23,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.76
23,24,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.75
24,25,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.70
25,26,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.70
26,27,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.64
27,28,"""Faded""[53]",Alan Walker,"December 3, 2015",3.60
28,29,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.58
29,30,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.57

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [34]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException  
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import time

In [41]:
driver=webdriver.Chrome()
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(2)


fixture=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture.click()
time.sleep(2)


series=[]
place=[]
date=[]
time_node=[]


series_element=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for serie in series_element:
    series.append(serie.text)
    
place_element=driver.find_elements(By.XPATH,'//div[@class="col-lg-6 col-md-6 col-sm-12"]/div[1]')
for places in place_element:
    place.append(places.text)
    
date_element=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for dates in date_element:
    date.append(dates.text)
    
    
time_element=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for times in time_element:
    time_node.append(times.text)
    
driver.close()

In [42]:
df_match=pd.DataFrame({"Series":series,"Place":place,"Date":date,"Time":time_node})
df_match

,Series,Place,Date,Time
0,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","5 JUNE, 2024",8:00 PM IST
1,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","9 JUNE, 2024",8:00 PM IST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","12 JUNE, 2024",8:00 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [24]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException,ElementNotInteractableException 
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

In [61]:
driver=webdriver.Chrome()
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(2)

economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]')
economy.click()
time.sleep(2)

try:
    eco_india=WebDriverWait(driver,10).until(EC.presence_of_element_located((By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')))
    eco_india.click()
except ElementNotInteractableException  as e:
    print("ElementNotInteractableException",e)
                                                                            
                                                                            
try:
    gdp_element=WebDriverWait(driver,10).until(EC.presence_of_element_located((By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')))
    gdp_element.click()
except TimeoutException as e:
    print("TimeoutException ",e)

In [62]:
rank=[]
state=[]
gsdp_22_23_current_price=[]
gsdp_23_24_current_price=[]
share_21_22=[]
gdp_billion=[]


rank_element=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
for ranks in rank_element:
    if len(rank)<33:
        rank.append(ranks.text)
    else:
        break
        
    

state_element=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
for states in state_element:
    if len(state)<33:
        state.append(states.text)
    else:
        break
        
    

    
gsdp_element_latest=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
for latest in gsdp_element_latest:
    if len(gsdp_23_24_current_price)<33:
        gsdp_23_24_current_price.append(latest.text)
    else:
        break
    
    
    
gsdp_element_previous=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
for previous in gsdp_element_previous:
    if len(gsdp_22_23_current_price)<33:
        gsdp_22_23_current_price.append(previous.text)
    else:
        break
    

share_element=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
for shares in share_element:
    if len(share_21_22)<33:
        share_21_22.append(shares.text)
    else:
        break

time.sleep(2)
    
gdp_element=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[7]')
for gdps in gdp_element:
    if len(gdp_billion)<33:
        gdp_billion.append(gdps.text)
    else:
        break
        
driver.close()

In [64]:
state

['Maharashtra',
 'Tamil Nadu',
 'Karnataka',
 'Uttar Pradesh',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Odisha',
 'Bihar',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Arunachal Pradesh',
 'Nagaland',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [65]:
df_gdp=pd.DataFrame({"Rank":rank,"State":state,"GSDP_23_24":gsdp_23_24_current_price,"GSDP_22_23":gsdp_22_23_current_price,"Share_21_22":share_21_22,"GDP_billion":gdp_billion})

In [66]:
df_gdp

,Rank,State,GSDP_23_24,GSDP_22_23,Share_21_22,GDP_billion
0,1,Maharashtra,-,-,13.17%,414.928
1,2,Tamil Nadu,"2,700,109","2,364,514",8.78%,276.522
2,3,Karnataka,"2,500,733","2,269,995",8.38%,264.080
3,4,Uttar Pradesh,"2,547,861","2,258,040",8.37%,263.747
4,5,Gujarat,-,"2,230,609",8.17%,257.484
5,6,West Bengal,"1,700,939","1,531,758",5.63%,177.456
6,7,Rajasthan,"1,524,030","1,365,849",5.06%,159.334
7,8,Andhra Pradesh,"1,439,674","1,303,524",4.87%,153.324
8,9,Telangana,"1,463,960","1,308,034",4.76%,150.084
9,10,Madhya Pradesh,"1,363,327","1,246,471",4.63%,145.913
10,11,Kerala,-,"1,046,188",3.96%,124.764
11,12,Delhi,"1,107,746","1,014,688",3.73%,117.660
12,13,Haryana,"1,095,535","984,055",3.68%,116.001
13,14,Odisha,"832,790","753,177",2.81%,88.497
14,15,Bihar,-,"751,396",2.76%,86.817
15,16,Punjab,"736,423","676,164",2.62%,82.397
16,17,Assam,"565,401","493,167",1.74%,54.930
17,18,Chhattisgarh,"505,887","464,399",1.74%,54.806
18,19,Jharkhand,-,"393,722",1.52%,47.909
19,20,Uttarakhand,"346,206","303,781",1.13%,35.664
20,21,Jammu & Kashmir,"246,465","224,226",0.82%,25.813
21,22,Himachal Pradesh,"207,430","191,728",0.73%,22.984
22,23,Goa,-,"93,672",0.36%,11.250
23,24,Tripura,-,"72,636",0.27%,8.351
24,25,Chandigarh,-,"54,285",0.20%,6.154
25,26,Puducherry,-,"49,643",0.19%,5.849
26,27,Meghalaya,"47,381","42,697",0.16%,5.178
27,28,Sikkim,-,"42,756",0.16%,5.014
28,29,Manipur,-,-,0.16%,4.885
29,30,Arunachal Pradesh,-,"39,630",0.15%,4.643
30,31,Nagaland,-,"35,643",0.13%,4.144
31,32,Mizoram,-,-,0.12%,3.715
32,33,Andaman & Nicobar Islands,-,-,0.04%,1.385

4.Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [11]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import ElementNotInteractableException,NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [21]:
driver=webdriver.Chrome()
url = "https://github.com/"
driver.get(url)
time.sleep(2)

try:
    menu_element=driver.find_element(By.XPATH,'//span[@class="Button-content"]/span')
    menu_element.click()
except ElementNotInteractableException as e:
    print("ElementNotInteractableException",e)
    
try:
    source_element=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
    source_element.click()
except ElementNotInteractableException as e:
    print("ElementNotInteractableException",e)
    
    
try:
    trending_repos=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
    trending_repos.click()
except ElementNotInteractableException as e:
    print("ElementNotInteractableException",e)

ElementNotInteractableException Message: element not interactable
  (Session info: chrome=123.0.6312.88)
Stacktrace:
	GetHandleVerifier [0x00007FF709A970C2+63090]
	(No symbol) [0x00007FF709A02D12]
	(No symbol) [0x00007FF70989EB1D]
	(No symbol) [0x00007FF7098E5D56]
	(No symbol) [0x00007FF7098DA708]
	(No symbol) [0x00007FF709906FDA]
	(No symbol) [0x00007FF7098DA00A]
	(No symbol) [0x00007FF7099071F0]
	(No symbol) [0x00007FF709923412]
	(No symbol) [0x00007FF709906D83]
	(No symbol) [0x00007FF7098D83A8]
	(No symbol) [0x00007FF7098D9441]
	GetHandleVerifier [0x00007FF709E9262D+4238301]
	GetHandleVerifier [0x00007FF709ECF78D+4488509]
	GetHandleVerifier [0x00007FF709EC7A6F+4456479]
	GetHandleVerifier [0x00007FF709B70606+953270]
	(No symbol) [0x00007FF709A0E5DF]
	(No symbol) [0x00007FF709A092B4]
	(No symbol) [0x00007FF709A093EB]
	(No symbol) [0x00007FF7099F9C24]
	BaseThreadInitThunk [0x00007FFBDA887344+20]
	RtlUserThreadStart [0x00007FFBDB9426B1+33]

In [24]:
title=[]
description=[]
count=[]
language=[]


title_element=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for titles in title_element:
    title.append(titles.text)
    

try:
    description_element=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for descriptions in description_element:
        description.append(descriptions.text)
except NoSuchElementException:
    description.append("-")
        
        
count_element=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][2]')
for counts in count_element:
    count.append(counts.text)

    

try:
    language_element=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
    for languages in language_element:
        language.append(languages.text)
except NoSuchElementException:
    language.append("-")


        
    
    

driver.close()

In [25]:
print(len(title),len(description),len(count),len(language))

25 24 25 24

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import ElementNotInteractableException
import time
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [4]:
driver=webdriver.Chrome()
Url = "https:/www.billboard.com/"
driver.get(Url)
time.sleep(2)


try:
    song_menu=WebDriverWait(driver,5).until(EC.presence_of_element_located((By.XPATH,'//div[@class=" lrv-a-space-children-horizontal lrv-a-space-children--150 lrv-u-margin-t-1 lrv-u-flex lrv-u-justify-content-space-between lrv-u-overflow-auto a-homepage-chart-links"]/a')))
    song_menu.click()
except ElementNotInteractableException as e:
    print("ElementNotInteractableException",e)

In [32]:
song_name=[]
artist_name=[]
last_rank=[]
peak_rank=[]
week_chart=[]


song_element=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for song in song_element:
    song_name.append(song.text)
    


artist_element=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]')
for artist in artist_element:
     artist_name.append(artist.text)
    
time.sleep(2)   
        
try:
    rank_element=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-row u-background-color-grey-lightest@mobile-max"]/li[3]')
    for rank in rank_element:
        last_rank.append(rank.text)
except ElementNotInteractableException as e:
    print("ElementNotInteractableException",e)

    
try:
    peak_element=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-flex-grow-1"]/span')
    for peak in peak_element:
        peak_rank.append(peak.text)
except ElementNotInteractableException as e:
    print("ElementNotInteractableException",e)    
    
try:
    chart_element=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"][2]')
    for chart in chart_element:
        week_chart.append(chart.text)
except ElementNotInteractableException as e:
    print("ElementNotInteractableException",e)    

    
driver.close()

In [34]:
print(len(song_name),len(artist_name),len(last_rank),len(peak_rank),len(week_chart))

200 200 200 200 200

In [35]:
df_song=pd.DataFrame({"Song_name":song_name,"Artist_name":artist_name,"Last_rank":last_rank,"Peak_rank":peak_rank,"Week_chart":week_chart})

In [38]:
df_song = df_song.iloc[0:100, :]

In [39]:
len(df_song)

100

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [43]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import WebDriverException
import time
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [44]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver=webdriver.Chrome()
driver.get(url)
time.sleep(2)

In [45]:
book_name=[]
author_name=[]
volume_sold=[]
publisher=[]
genre_url=[]


book_element=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[2]')
for book in book_element:
    book_name.append(book.text)
    


author_element=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[3]')
for author in author_element:
     author_name.append(author.text)
    
time.sleep(2)   
        
volume_element=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[4]')
for volume in volume_element:
     volume_sold.append(volume.text)

    
publisher_element=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[5]')
for publish in publisher_element:
     publisher.append(publish.text)
    
try:
    url_element=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[6]')
    for url in url_element:
        genre_url.append(url.text)
except WebDriverException as e:
    print("WebDriverException",e)
    

driver.close()

In [46]:
print(len(book_name),len(author_name),len(volume_sold),len(publisher),len(genre_url))

100 100 100 100 100

In [47]:
df_novel=pd.DataFrame({"Book_name":book_name,"Author_name":author_name,"Volume_sold":volume_sold,"Publisher":publisher,"Genre_url":genre_url})
df_novel

,Book_name,Author_name,Volume_sold,Publisher,Genre_url
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [55]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import WebDriverException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [59]:
url = "https://www.imdb.com/chart/toptv/?ref_=nv_tvv_250"
driver=webdriver.Chrome()
driver.get(url)
time.sleep(2)

In [62]:
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]


name_element=driver.find_elements(By.XPATH,'//div[@class="sc-b0691f29-0 jbYPfh cli-children"]/div[1]')
for title in name_element:
    name.append(title.text)
    
year_element=driver.find_elements(By.XPATH,'//div[@class="sc-b0691f29-7 hrgukm cli-title-metadata"]/span[1]')
for year in year_element:
    year_span.append(year.text)
    

genre_element=driver.find_elements(By.XPATH,'//div[@class="sc-b0691f29-7 hrgukm cli-title-metadata"]/span[3]')
for gen in genre_element:
    genre.append(gen.text if gen.text else "-")
    
while len(genre)<250:
    genre.append("-")

run_time_element=driver.find_elements(By.XPATH,'//div[@class="sc-b0691f29-7 hrgukm cli-title-metadata"]/span[2]')
for run in run_time_element:
    run_time.append(run.text)
    
ratings_element=driver.find_elements(By.XPATH,'//span[@class="sc-b0691f29-1 grHDBY"]/div/span')
for rating in ratings_element:
    ratings.append(rating.text)
    
votes_element=driver.find_elements(By.XPATH,'//span[@class="ipc-rating-star--voteCount"]')
for vote in votes_element:
    votes.append(vote.text)
    

driver.close()

In [63]:
print(len(name),len(year_span),len(genre),len(run_time),len(ratings),len(votes))

250 250 250 250 250 250

In [66]:
import re

In [73]:
def ratings_extract(likes):
    view=[]
    for item in likes:
        pattern=re.findall(r"\d+\.\d+", item)
        view.append(pattern)
    return view
   


star=ratings_extract(ratings)
print(star)

[['9.5', '2.1'], ['9.5'], ['9.4'], ['9.4'], ['9.3'], ['9.3'], ['9.3'], ['9.3'], ['9.2'], ['9.3'], ['9.3'], ['9.3'], ['9.2', '2.3'], ['9.2'], ['9.4'], ['9.1'], ['9.1'], ['9.1'], ['9.1'], ['9.1'], ['9.1'], ['9.1'], ['9.0'], ['9.1'], ['9.1'], ['9.3'], ['9.0'], ['9.0'], ['9.0'], ['9.0'], ['9.0'], ['9.0'], ['9.0'], ['9.0'], ['9.0'], ['9.0'], ['8.9'], ['9.0'], ['8.9'], ['9.0'], ['8.9'], ['8.9'], ['8.9'], ['9.0'], ['8.9'], ['8.9'], ['8.9'], ['9.0'], ['9.0'], ['8.8'], ['8.9'], ['9.0'], ['8.9'], ['8.9', '1.1'], ['8.8'], ['9.1'], ['8.8'], ['8.8'], ['8.9'], ['8.8'], ['8.8'], ['9.0'], ['8.8'], ['8.8'], ['9.1'], ['8.8'], ['8.8'], ['8.8'], ['8.8'], ['8.8'], ['8.8'], ['8.8'], ['8.8'], ['9.1'], ['8.8'], ['8.7'], ['8.7'], ['8.8'], ['8.8'], ['9.0'], ['8.8'], ['9.0'], ['9.1'], ['8.8'], ['8.7'], ['8.7'], ['8.7'], ['8.9'], ['8.7'], ['8.8'], ['8.7'], ['9.0'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7', '1.3'], ['8.7'], ['8.9'], ['8.7'], ['8.7'], ['8.7'], ['9.2'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.9'], ['8.9'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.6'], ['8.7'], ['9.0'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.7'], ['9.2'], ['8.7'], ['8.7'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.7'], ['8.6'], ['9.0'], ['8.7'], ['8.7'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.7'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.7'], ['8.6'], ['8.7'], ['8.7'], ['8.7'], ['8.6'], ['8.6'], ['8.7'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.7'], ['8.7'], ['8.6'], ['8.7'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.7'], ['8.5'], ['8.5'], ['8.5'], ['8.6'], ['8.5'], ['8.6'], ['8.9'], ['8.6'], ['8.6'], ['8.9'], ['8.6'], ['8.6'], ['8.6'], ['8.5'], ['8.5'], ['8.5'], ['8.7'], ['8.6'], ['8.6'], ['8.6'], ['8.5'], ['8.6'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.6'], ['8.5'], ['8.5'], ['8.6'], ['8.6'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.6'], ['8.6'], ['8.5'], ['8.5'], ['8.6'], ['8.5'], ['8.6'], ['8.5'], ['8.5'], ['8.6'], ['8.5'], ['8.6'], ['8.5'], ['8.5'], ['8.6'], ['8.6'], ['8.5'], ['8.5'], ['8.6'], ['8.5'], ['8.6'], ['8.7'], ['8.8'], ['8.6'], ['8.5'], ['8.6'], ['8.5'], ['8.7'], ['8.5'], ['8.6'], ['8.5']]

In [71]:
df_series=pd.DataFrame({"name":name,"year_span":year_span,"genre":genre,"run_time":run_time,"ratings":star,"votes":votes})

df_series

                       name  year_span  genre run_time     ratings    votes
0           1. Breaking Bad  2008–2013  TV-MA   62 eps  [9.5, 2.1]   (2.1M)
1        2. Planet Earth II       2016   TV-G    6 eps       [9.5]   (157K)
2           3. Planet Earth       2006  TV-PG   11 eps       [9.4]   (219K)
3       4. Band of Brothers       2001  TV-MA   10 eps       [9.4]   (524K)
4              5. Chernobyl       2019  TV-MA    5 eps       [9.3]   (860K)
..                      ...        ...    ...      ...         ...      ...
245  246. Your Lie in April  2014–2015      -   24 eps       [8.5]    (37K)
246            247. Gintama  2005–2021      -  375 eps       [8.7]    (15K)
247       248. Chef's Table  2015–2019      -   30 eps       [8.5]    (17K)
248        249. Foyle's War  2002–2015      -   28 eps       [8.6]    (18K)
249      250. The Boondocks  2005–2014      -   56 eps       [8.5]    (36K)

[250 rows x 6 columns]

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [25]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import JavascriptException, NoSuchElementException,ElementClickInterceptedException
import time
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [26]:
url = "https://archive.ics.uci.edu/ "
driver=webdriver.Chrome()
driver.get(url)
time.sleep(2)


more_dataset=driver.find_element(By.XPATH,'//div[@class="hero"]/div/div/div/a[1]')
more_dataset.click()

time.sleep(2)

expand_dt=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
expand_dt.click()

In [27]:
dataset_name=[]
data_type=[]
task=[]
attribute_type=[]
num_instance=[]
num_attribute=[]
year_note=[]



name_element=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/h2/a')
for title in name_element:
    dataset_name.append(title.text)

data_element=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/p')
for data in data_element:
    data_type.append(data.text)


task_element=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
for tasks in task_element:
    task.append(tasks.text)


attribute_element=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
for attribute in attribute_element:
    attribute_type.append(attribute.text)
    
instance_element=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
for instance in instance_element:
    num_instance.append(instance.text)

num_attribute_element=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
for num in num_attribute_element:
    num_attribute.append(num.text)
    
year_element=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]')
for year in year_element:
    year_note.append(year.text)

driver.close()

In [28]:
print(len(dataset_name),len(data_type),len(task),len(attribute_type),len(num_instance),len(num_attribute),len(year_note))

10 10 10 10 10 10 10

In [29]:
df_data=pd.DataFrame({"dataset_name":dataset_name,"data_type":data_type,"task":task,"attribute_type":attribute_type,"num_instance":num_instance,"num_attribute":num_attribute,"year_note":year_note})
df_data

,dataset_name,data_type,task,attribute_type,num_instance,num_attribute,year_note
0,Iris,"A small classic dataset from Fisher, 1936. One...",Classification,Tabular,150 Instances,4 Features,7/1/1988
1,Dry Bean,"Images of 13,611 grains of 7 different registe...",Classification,Multivariate,13.61K Instances,16 Features,9/14/2020
2,Heart Disease,"4 databases: Cleveland, Hungary, Switzerland, ...",Classification,Multivariate,303 Instances,13 Features,7/1/1988
3,Rice (Cammeo and Osmancik),A total of 3810 rice grain's images were taken...,Classification,Multivariate,3.81K Instances,7 Features,10/6/2019
4,Adult,Predict whether income exceeds $50K/yr based o...,Classification,Multivariate,48.84K Instances,14 Features,5/1/1996
5,Raisin,Images of the Kecimen and Besni raisin varieti...,Classification,Multivariate,900 Instances,8 Features,8/14/2023
6,Breast Cancer Wisconsin (Diagnostic),Diagnostic Wisconsin Breast Cancer Database.,Classification,Multivariate,569 Instances,30 Features,11/1/1995
7,Wine,Using chemical analysis to determine the origi...,Classification,Tabular,178 Instances,13 Features,7/1/1991
8,Wine Quality,"Two datasets are included, related to red and ...","Classification, Regression",Multivariate,4.9K Instances,12 Features,10/7/2009
9,Diabetes,This diabetes dataset is from AIM '94,Classification,"Multivariate, Time-Series",1 Instances,20 Features,N/A